#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
# NOTE: This file is not used in compilation.
# gigadevice is not sourced in vendor/Kconfig and lacks integration.
#

if ARCH_CHIP_CUSTOM

comment "CUSTOM Configuration Options"

endif
